<div class="container" style="max-width:800px">
    <form (ngSubmit)="callGateway()" #methodForm="ngForm">
        <h1 class="my-3">Try to call generated functions</h1>
        <div class="form-group">
            <label for="method"><b>Method</b></label>
            <select class="form-control" id="method" required
                [(ngModel)]="methodName"
                (change)="onMethodChange($event.target.value)" 
                name="methodName">
                <option *ngFor="let method of methods" [value]="method">{{method}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="accept"><b>Server</b></label>
            <select class="form-control" id="accept" required
                [(ngModel)]="server"
                (change)="onServerChange($event.target.value)" 
                name="server">
                <option *ngFor="let server of servers" [value]="server">{{server}}</option>
            </select>
        </div>
        
        <div *ngIf="hasBearerToken || hasBasicToken || hasApiKeys">
            <hr/>
            <label><b>Authorization</b></label>
            
            <div *ngIf="hasBearerToken" class="form-group">
                <div class="form-inline" >
                    <label for="bearerToken" class="col-3 p-0 justify-content-start">Bearer Token</label>
                    <input name="bearerToken" 
                        [(ngModel)]="bearerTokenVal" 
                        id="bearerToken" 
                        class="form-control ml-2"
                        type="text"
                        #bearerTokenArea="ngModel"/>
                    <button type="button" class="btn btn-primary ml-2" (click)="setBearerToken()">
                        Set new token
                    </button>
                </div>
            </div>
            <div *ngIf="hasBasicToken" class="form-group">
                <div class="form-inline" >
                    <label for="basicToken" class="col-3 p-0 justify-content-start">Basic Token</label>
                    <input name="basicToken" 
                        [(ngModel)]="basicTokenVal" 
                        class="form-control ml-2"  
                        id="basicToken" 
                        type="text"
                        #basicTokenArea="ngModel"/>
                    <div [hidden]="basicTokenArea.valid || basicTokenArea.pristine" class="alert alert-danger">
                        Basic Token is required
                    </div>
                    <button type="button" class="btn btn-primary ml-2" (click)="setBasicToken()">
                        Set new token
                    </button>
                </div>
            </div>
            <div *ngIf="hasApiKeys">
                <div *ngFor="let apiKey of apiKeysNames" class="form-group">
                    <div class="form-inline">
                        <label for="{{apiKey}}" class="col-3 p-0 justify-content-start"><i>Api Key:&nbsp;</i> {{apiKey}}</label>
                        <input name="{{apiKey}}" 
                            [(ngModel)]="apiKeysVal[apiKey]" 
                            class="form-control  ml-2"  
                            id="{{apiKey}}" 
                            type="text"
                            #basicTokenArea="ngModel"/>
                        <div [hidden]="basicTokenArea.valid || basicTokenArea.pristine" class="alert alert-danger">
                            APi Key {{apiKey}} is required
                        </div>
                        <button type="button" class="btn btn-primary ml-2" (click)="setApiKey(apiKey)">
                            Set new key
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="hasParameters" class="form-group">
            <hr/>
            <label for="params"><b>Parameters</b></label>
            <textarea name="parameters" 
                required
                [(ngModel)]="parameters" 
                rows="5" 
                class="form-control" 
                id="params" 
                type="text"
                #paramsArea="ngModel">Enter parameters object...</textarea>
            <div [hidden]="paramsArea.valid || paramsArea.pristine" class="alert alert-danger">
                {{paramsArea.errors?.invalidJson ? "Parameters format is not valid JSON" :  "Parameters are required" }}
            </div>
        </div>
        <div *ngIf="hasBody" >
            <hr/>
            <label><b>Body</b></label>
            <div class="form-group">
                <div class="form-inline">
                    <label for="contentType">Content Type</label>
                    <select class="form-control ml-2" id="contentType" required
                        [(ngModel)]="contentType"
                        (change)="onContentTypeChange($event.target.value)" 
                        name="contentType">
                        <option *ngFor="let cType of contentTypes" [value]="cType">{{cType}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <textarea name="body" 
                    required
                    [(ngModel)]="body" 
                    rows="5" 
                    class="form-control"  
                    id="body" 
                    type="text"
                    #bodyArea="ngModel">Enter body object...</textarea>
                <div [hidden]="bodyArea.valid || bodyArea.pristine" class="alert alert-danger">                    
                    {{bodyArea.errors?.invalidJson ? "Body format is not valid JSON" :  "Body is required" }}
                </div>
            </div>
        </div>
        <hr/>
        <label><b>Response</b></label>
        <div *ngIf="accepts.length > 0"class="form-group">
            <div class="form-inline">
                <label for="accept">Accept</label>
                <select class="form-control ml-2" id="accept" required
                    [(ngModel)]="accept"
                    (change)="onAcceptTypeChange($event.target.value)" 
                    name="accept">
                    <option *ngFor="let accept of accepts" [value]="accept">{{accept}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <textarea name="response"
                     rows="8" 
                     class="form-control" 
                     id="response" 
                     type="text"
                     [class.alert-danger]="errorResponse"
                     [class.alert-success]="successResponse">{{successResponse}}{{errorResponse}}</textarea>
        </div>        
        <button  class="btn btn-primary" type="submit" class="btn btn-success" [disabled]="!methodForm.form.valid">Call method</button>
    </form>
</div>



